# Project measuring waterflows

## Instaling MannKendall test in conda framework

In [1]:
#conda install pyMannKendall
#conda install -c conda-forge pymannkendall
# https://pypi.org/project/pymannkendall/
# Explanation: https://www.geeksforgeeks.org/how-to-perform-a-mann-kendall-trend-test-in-python/

## Project waterflows

### Importing packages

In [1]:
import numpy as np
import pandas as pd
import pymannkendall as mk
import scipy as sp

### Load and check data

In [2]:
df=pd.read_excel('InputData.xlsx', sheet_name='pod')
df.head()

   Year  MinSrMes   SredGod  station
0  1962     0.462  5.458917        1
1  1963     0.453  3.474917        1
2  1964     0.759  3.638667        1
3  1965     0.436  3.455583        1
4  1966     0.893  3.847500        1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213 entries, 0 to 212
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Year      213 non-null    int64
 1   MinSrMes  212 non-null    float64
 2   SredGod   213 non-null    float64
 3   station   213 non-null    int64
dtypes: float64(2), int64(2)
memory usage: 6.8 KB

### Implementing MannKandall test and evaulating values for Theil-Sen trend estimator

In [4]:
from scipy.special import logsumexp
#Empty lists
df_list1 = []
df_nOBS = []

listSredGodP1 = []
listSredGodT1 = []
listSredGodS1 = []
listSredGodI1 = []
listSredGodK = []
listSredGodLam = []
listSredGodLocation = []


listMinSrMesP1 = []
listMinSrMesT1 = []
listMinSrMesS1 = []
listMinSrMesI1 = []
listMinSrMesK = []
listMinSrMesLam = []
listMinSrMesLocation = []


#appling MannKendal test on subsets and creating columns with results
for i in range(1,max(df['station'])+1):
    try:
        if mk.original_test(df[df['station']==i]['SredGod'])[0]=='no trend' and mk.original_test(df[df['station']==i]['MinSrMes'])[0]=='no trend':
        
            dg=str(i)
            df_list1.append(dg)
            dfNOBS = len(df[df['station']==i])
            df_nOBS.append(dfNOBS)
        
            p=mk.original_test(df[df['station']==i]['SredGod'])[2]
            listSredGodP1.append(p)  
            pS=mk.original_test(df[df['station']==i]['SredGod'])[7]
            listSredGodS1.append(pS)  
            pI=mk.original_test(df[df['station']==i]['SredGod'])[8]
            listSredGodI1.append(pI)
            pT=mk.original_test(df[df['station']==i]['SredGod'])[0]
            listSredGodT1.append(pT)
            lstSredGodK=1/3-1/(0.31+0.91*df[df['station']==i]['SredGod'].skew(axis = 0, skipna = True)+np.sqrt((df[df['station']==i]['SredGod'].skew(axis = 0, skipna = True)*0.91)**2+1.8))
            listSredGodK.append(lstSredGodK)          
            lstSredGodLam=(df[df['station']==i]['SredGod'].std(axis = 0, skipna = True)*abs(lstSredGodK))/(np.sqrt((np.exp(sp.special.loggamma(1-2*lstSredGodK, out=None)))-(np.exp(sp.special.loggamma(1-lstSredGodK, out=None))**2)))
            listSredGodLam.append(lstSredGodLam)
            lstSredGodLocation=df[df['station']==i]['SredGod'].mean(axis = 0, skipna = True)-(lstSredGodLam*(np.exp(sp.special.loggamma(1-lstSredGodK, out=None))-1)/lstSredGodK)
            listSredGodLocation.append(lstSredGodLocation)
          
        
            qP=mk.original_test(df[df['station']==i]['MinSrMes'])[2]
            listMinSrMesP1.append(qP)
            qS=mk.original_test(df[df['station']==i]['MinSrMes'])[7]
            listMinSrMesS1.append(qS)
            qI=mk.original_test(df[df['station']==i]['MinSrMes'])[8]
            listMinSrMesI1.append(qI)
            qT=mk.original_test(df[df['station']==i]['MinSrMes'])[0]
            listMinSrMesT1.append(qT)
            lstMinSrMesK=1/3-1/(0.31+0.91*df[df['station']==i]['MinSrMes'].skew(axis = 0, skipna = True)+np.sqrt((df[df['station']==i]['MinSrMes'].skew(axis = 0, skipna = True)*0.91)**2+1.8))
            listMinSrMesK.append(lstMinSrMesK)
            lstMinSrMesLam=(df[df['station']==i]['MinSrMes'].std(axis = 0, skipna = True)*abs(lstMinSrMesK))/(np.sqrt((np.exp(sp.special.loggamma(1-2*lstMinSrMesK, out=None)))-(np.exp(sp.special.loggamma(1-lstMinSrMesK, out=None))**2)))
            listMinSrMesLam.append(lstMinSrMesLam)
            lstMinSrMesLocation=df[df['station']==i]['MinSrMes'].mean(axis = 0, skipna = True)-(lstMinSrMesLam*(np.exp(sp.special.loggamma(1-lstMinSrMesK, out=None))-1)/lstMinSrMesK)
            listMinSrMesLocation.append(lstMinSrMesLocation)
           
        
        elif mk.original_test(df[df['station']==i]['SredGod'])[0]=='no trend' and (mk.original_test(df[df['station']==i]['MinSrMes'])[0]=='decreasing' or mk.original_test(df[df['station']==i]['MinSrMes'])[0]=='increasing'):   
            dg=str(i)
            df_list1.append(dg)
            dfNOBS = len(df[df['station']==i])
            df_nOBS.append(dfNOBS)
        
            p=mk.original_test(df[df['station']==i]['SredGod'])[2]
            listSredGodP1.append(p)  
            pS=mk.original_test(df[df['station']==i]['SredGod'])[7]
            listSredGodS1.append(pS)  
            pI=mk.original_test(df[df['station']==i]['SredGod'])[8]
            listSredGodI1.append(pI)
            pT=mk.original_test(df[df['station']==i]['SredGod'])[0]
            listSredGodT1.append(pT)
            lstSredGodK=1/3-1/(0.31+0.91*df[df['station']==i]['SredGod'].skew(axis = 0, skipna = True)+np.sqrt((df[df['station']==i]['SredGod'].skew(axis = 0, skipna = True)*0.91)**2+1.8))
            listSredGodK.append(lstSredGodK)          
            lstSredGodLam=(df[df['station']==i]['SredGod'].std(axis = 0, skipna = True)*abs(lstSredGodK))/(np.sqrt((np.exp(sp.special.loggamma(1-2*lstSredGodK, out=None)))-(np.exp(sp.special.loggamma(1-lstSredGodK, out=None))**2)))
            listSredGodLam.append(lstSredGodLam)
            lstSredGodLocation=df[df['station']==i]['SredGod'].mean(axis = 0, skipna = True)-(lstSredGodLam*(np.exp(sp.special.loggamma(1-lstSredGodK, out=None))-1)/lstSredGodK)
            listSredGodLocation.append(lstSredGodLocation)
           
        
            qP=mk.original_test(df[df['station']==i]['MinSrMes'])[2]
            listMinSrMesP1.append(qP)
            qS=mk.original_test(df[df['station']==i]['MinSrMes'])[7]
            listMinSrMesS1.append(qS)
            qI=mk.original_test(df[df['station']==i]['MinSrMes'])[8]
            listMinSrMesI1.append(qI)
            qT=mk.original_test(df[df['station']==i]['MinSrMes'])[0]
            listMinSrMesT1.append(qT)
            lstMinSrMesK=1/3-1/(0.31+0.91*df[df['station']==i]['MinSrMes'].skew(axis = 0, skipna = True)+np.sqrt((df[df['station']==i]['MinSrMes'].skew(axis = 0, skipna = True)*0.91)**2+1.8))
            listMinSrMesK.append(lstMinSrMesK)
            lstMinSrMesLam=(df[df['station']==i]['MinSrMes'].std(axis = 0, skipna = True)*abs(lstMinSrMesK))/(np.sqrt((np.exp(sp.special.loggamma(1-2*lstMinSrMesK, out=None)))-(np.exp(sp.special.loggamma(1-lstMinSrMesK, out=None))**2)))
            listMinSrMesLam.append(lstMinSrMesLam) 
            lstMinSrMesLocation=(qI+qS*(len(df[df['station']==i])-1))
            listMinSrMesLocation.append(lstMinSrMesLocation)
          
    
        elif (mk.original_test(df[df['station']==i]['SredGod'])[0]=='increasing' or mk.original_test(df[df['station']==i]['SredGod'])[0]=='decreasing') and mk.original_test(df[df['station']==i]['MinSrMes'])[0]=='no trend':
  
            dg=str(i)
            df_list1.append(dg)
            dfNOBS = len(df[df['station']==i])
            df_nOBS.append(dfNOBS)
        
            p=mk.original_test(df[df['station']==i]['SredGod'])[2]
            listSredGodP1.append(p)  
            pS=mk.original_test(df[df['station']==i]['SredGod'])[7]
            listSredGodS1.append(pS)  
            pI=mk.original_test(df[df['station']==i]['SredGod'])[8]
            listSredGodI1.append(pI)
            pT=mk.original_test(df[df['station']==i]['SredGod'])[0]
            listSredGodT1.append(pT)
            lstSredGodK=1/3-1/(0.31+0.91*df[df['station']==i]['SredGod'].skew(axis = 0, skipna = True)+np.sqrt((df[df['station']==i]['SredGod'].skew(axis = 0, skipna = True)*0.91)**2+1.8))
            listSredGodK.append(lstSredGodK)          
            lstSredGodLam=(df[df['station']==i]['SredGod'].std(axis = 0, skipna = True)*abs(lstSredGodK))/(np.sqrt((np.exp(sp.special.loggamma(1-2*lstSredGodK, out=None)))-(np.exp(sp.special.loggamma(1-lstSredGodK, out=None))**2)))
            listSredGodLam.append(lstSredGodLam)
            lstSredGodLocation=(pI+pS*(len(df[df['station']==i])-1))
            listSredGodLocation.append(lstSredGodLocation)

        
            qP=mk.original_test(df[df['station']==i]['MinSrMes'])[2]
            listMinSrMesP1.append(qP)
            qS=mk.original_test(df[df['station']==i]['MinSrMes'])[7]
            listMinSrMesS1.append(qS)
            qI=mk.original_test(df[df['station']==i]['MinSrMes'])[8]
            listMinSrMesI1.append(qI)
            qT=mk.original_test(df[df['station']==i]['MinSrMes'])[0]
            listMinSrMesT1.append(qT)
            lstMinSrMesK=1/3-1/(0.31+0.91*df[df['station']==i]['MinSrMes'].skew(axis = 0, skipna = True)+np.sqrt((df[df['station']==i]['MinSrMes'].skew(axis = 0, skipna = True)*0.91)**2+1.8))
            listMinSrMesK.append(lstMinSrMesK)
            lstMinSrMesLam=(df[df['station']==i]['MinSrMes'].std(axis = 0, skipna = True)*abs(lstMinSrMesK))/(np.sqrt((np.exp(sp.special.loggamma(1-2*lstMinSrMesK, out=None)))-(np.exp(sp.special.loggamma(1-lstMinSrMesK, out=None))**2)))
            listMinSrMesLam.append(lstMinSrMesLam)
            lstMinSrMesLocation=df[df['station']==i]['MinSrMes'].mean(axis = 0, skipna = True)-(lstMinSrMesLam*(np.exp(sp.special.loggamma(1-lstMinSrMesK, out=None))-1)/lstMinSrMesK)
            listMinSrMesLocation.append(lstMinSrMesLocation)

        else:
            dg=str(i)
            df_list1.append(dg)
            dfNOBS = len(df[df['station']==i])
            df_nOBS.append(dfNOBS)
        
            p=mk.original_test(df[df['station']==i]['SredGod'])[2]
            listSredGodP1.append(p)  
            pS=mk.original_test(df[df['station']==i]['SredGod'])[7]
            listSredGodS1.append(pS)  
            pI=mk.original_test(df[df['station']==i]['SredGod'])[8]
            listSredGodI1.append(pI)
            pT=mk.original_test(df[df['station']==i]['SredGod'])[0]
            listSredGodT1.append(pT)
            lstSredGodK=1/3-1/(0.31+0.91*df[df['station']==i]['SredGod'].skew(axis = 0, skipna = True)+np.sqrt((df[df['station']==i]['SredGod'].skew(axis = 0, skipna = True)*0.91)**2+1.8))
            listSredGodK.append(lstSredGodK)          
            lstSredGodLam=(df[df['station']==i]['SredGod'].std(axis = 0, skipna = True)*abs(lstSredGodK))/(np.sqrt((np.exp(sp.special.loggamma(1-2*lstSredGodK, out=None)))-(np.exp(sp.special.loggamma(1-lstSredGodK, out=None))**2)))
            listSredGodLam.append(lstSredGodLam)
            lstSredGodLocation=(pI+pS*(len(df[df['station']==i])-1))
            listSredGodLocation.append(lstSredGodLocation)
 
        
            qP=mk.original_test(df[df['station']==i]['MinSrMes'])[2]
            listMinSrMesP1.append(qP)
            qS=mk.original_test(df[df['station']==i]['MinSrMes'])[7]
            listMinSrMesS1.append(qS)
            qI=mk.original_test(df[df['station']==i]['MinSrMes'])[8]
            listMinSrMesI1.append(qI)
            qT=mk.original_test(df[df['station']==i]['MinSrMes'])[0]
            listMinSrMesT1.append(qT)
            lstMinSrMesK=1/3-1/(0.31+0.91*df[df['station']==i]['MinSrMes'].skew(axis = 0, skipna = True)+np.sqrt((df[df['station']==i]['MinSrMes'].skew(axis = 0, skipna = True)*0.91)**2+1.8))
            listMinSrMesK.append(lstMinSrMesK)
            lstMinSrMesLam=(df[df['station']==i]['MinSrMes'].std(axis = 0, skipna = True)*abs(lstMinSrMesK))/(np.sqrt((np.exp(sp.special.loggamma(1-2*lstMinSrMesK, out=None)))-(np.exp(sp.special.loggamma(1-lstMinSrMesK, out=None))**2)))
            listMinSrMesLam.append(lstMinSrMesLam) 
            lstMinSrMesLocation=(qI+qS*(len(df[df['station']==i])-1))
            listMinSrMesLocation.append(lstMinSrMesLocation)

    except:
        pass
    
#Rename columns
s1 = pd.DataFrame(df_list1,columns=['Index'])
s1['Index'] = pd.to_numeric(s1['Index'])
s2 = pd.DataFrame(df_nOBS,columns=['NumberOfYears'])

k1 = pd.DataFrame(listSredGodP1,columns=['pValueSredGod'])
k2 = pd.DataFrame(listSredGodS1,columns=['SlopeSredGod'])
k3 = pd.DataFrame(listSredGodI1,columns=['InterceptSredGod'])
k5 = pd.DataFrame(listSredGodK,columns=['ShapeParamSredGod'])
k6 = pd.DataFrame(listSredGodLam,columns=['ScaleParamSredGod'])
k7 = pd.DataFrame(listSredGodLocation,columns=['LocationParamSredGod'])
k4 = pd.DataFrame(listSredGodT1,columns=['TrendSredGod'])

l1 = pd.DataFrame(listMinSrMesP1,columns=['pValueMinSrMes'])
l2 = pd.DataFrame(listMinSrMesS1,columns=['SlopeMinSrMes'])
l3 = pd.DataFrame(listMinSrMesI1,columns=['InterceptMinSrMes'])
l5 = pd.DataFrame(listMinSrMesK,columns=['ShapeParamMinSrMes'])
l6 = pd.DataFrame(listMinSrMesLam,columns=['ScaleParamMinSrMes'])
l7 = pd.DataFrame(listMinSrMesLocation,columns=['LocationParamMinSrMes'])

l4 = pd.DataFrame(listMinSrMesT1,columns=['TrendMinSrMes'])

### Marging columns into one dataframe with results

In [6]:
s1['NumberOfYears']=s2['NumberOfYears']
s1['pValueSredGod']=k1['pValueSredGod']
s1['SlopeSredGod']=k2['SlopeSredGod']
s1['InterceptSredGod']=k3['InterceptSredGod']
s1['ShapeParamSredGod']=k5['ShapeParamSredGod']
s1['ScaleParamSredGod']=k6['ScaleParamSredGod']
s1['LocationParamSredGod']=k7['LocationParamSredGod']
s1['TrendSredGod']=k4['TrendSredGod']

s1['pValueMinSrMes']=l1['pValueMinSrMes']
s1['SlopeMinSrMes']=l2['SlopeMinSrMes']
s1['InterceptMinSrMes']=l3['InterceptMinSrMes']
s1['ShapeParamMinSrMes']=l5['ShapeParamMinSrMes']
s1['ScaleParamMinSrMes']=l6['ScaleParamMinSrMes']
s1['LocationParamMinSrMes']=l7['LocationParamMinSrMes']
s1['TrendMinSrMes']=l4['TrendMinSrMes']
s1

,Index,NumberOfYears,pValueSredGod,SlopeSredGod,InterceptSredGod,ShapeParamSredGod,ScaleParamSredGod,LocationParamSredGod,TrendSredGod,pValueMinSrMes,SlopeMinSrMes,InterceptMinSrMes,ShapeParamMinSrMes,ScaleParamMinSrMes,LocationParamMinSrMes,TrendMinSrMes
0,1,57,0.154170,-0.014527,3.883744,-0.142407,1.042901,3.190382,no trend,0.469779,-0.002063,0.729760,-0.016843,0.353231,0.591642,no trend
1,2,93,0.100421,-0.008310,3.567360,0.060021,1.195407,2.924813,no trend,0.000351,-0.005417,0.888202,0.141398,0.424929,0.389798,decreasing
2,3,63,0.618335,-0.005456,4.523299,-0.016216,1.550857,3.768787,no trend,0.290301,-0.003520,1.062880,0.048438,0.442552,0.785350,no trend

### Hihhlight cells with yellow which satisfied conditions, where is trend increasing or decreasing

In [7]:
s1.style.applymap(lambda x: 'background-color : yellow' if x == 'decreasing' or x == 'increasing' else '')

### Saving dataframe to Excel file without index

In [8]:
s1.to_excel("WaterFlowEstimationResults.xls", index=False)

C:\Users\Ryzen\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  """Entry point for launching an IPython kernel.

### Load new data frame with River station names and coordinates

In [9]:
kord=pd.read_excel('coordinates.xlsx', sheet_name='kord')
kord.head(5)

,Index,River No.,River basin,River,Hydrological station,Drainage Area (km2),X coordinate,Y coordinate
0,1,52,Velika Morava,Belica,Jagodina,193.0,7521375.0,4869725.0
1,2,56,Velika Morava,Jasenica,Donja Šatornja,84.0,7468650.0,4894130.0
2,3,57,Velika Morava,Jasenica,Smederevska Palanka,496.0,7496050.0,4911325.0
3,4,58,Velika Morava,Kubršnica,Smederevska Palanka,743.0,7496800.0,4913050.0
4,5,53,Velika Morava,Lepenica,Batočina/Rogot,584.0,7506932.0,4889509.0

In [10]:
s1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Index                  3 non-null      int64
 1   NumberOfYears          3 non-null      int64
 2   pValueSredGod          3 non-null      float64
 3   SlopeSredGod           3 non-null      float64
 4   InterceptSredGod       3 non-null      float64
 5   ShapeParamSredGod      3 non-null      float64
 6   ScaleParamSredGod      3 non-null      float64
 7   LocationParamSredGod   3 non-null      float64
 8   TrendSredGod           3 non-null      object
 9   pValueMinSrMes         3 non-null      float64
 10  SlopeMinSrMes          3 non-null      float64
 11  InterceptMinSrMes      3 non-null      float64
 12  ShapeParamMinSrMes     3 non-null      float64
 13  ScaleParamMinSrMes     3 non-null      float64
 14  LocationParamMinSrMes  3 non-null      float64
 15  TrendMinSrMes          3 non-null      object
dtypes: float64(12), int64(2), object(2)
memory usage: 512.0+ bytes

In [11]:
kord.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Index                 82 non-null     int64
 1   River No.             82 non-null     int64
 2   River basin           82 non-null     object
 3   River                 82 non-null     object
 4   Hydrological station  82 non-null     object
 5   Drainage Area (km2)   82 non-null     float64
 6   X coordinate          80 non-null     float64
 7   Y coordinate          80 non-null     float64
dtypes: float64(3), int64(2), object(3)
memory usage: 5.2+ KB

### Merging two data frames, results and names from river stations

In [12]:
newdf = s1.merge(kord, how='inner',on='Index')
newdf

,Index,NumberOfYears,pValueSredGod,SlopeSredGod,InterceptSredGod,ShapeParamSredGod,ScaleParamSredGod,LocationParamSredGod,TrendSredGod,pValueMinSrMes,...,ScaleParamMinSrMes,LocationParamMinSrMes,TrendMinSrMes,River No.,River basin,River,Hydrological station,Drainage Area (km2),X coordinate,Y coordinate
0,1,57,0.154170,-0.014527,3.883744,-0.142407,1.042901,3.190382,no trend,0.469779,...,0.353231,0.591642,no trend,52,Velika Morava,Belica,Jagodina,193.0,7521375.0,4869725.0
1,2,93,0.100421,-0.008310,3.567360,0.060021,1.195407,2.924813,no trend,0.000351,...,0.424929,0.389798,decreasing,56,Velika Morava,Jasenica,Donja Šatornja,84.0,7468650.0,4894130.0
2,3,63,0.618335,-0.005456,4.523299,-0.016216,1.550857,3.768787,no trend,0.290301,...,0.442552,0.785350,no trend,57,Velika Morava,Jasenica,Smederevska Palanka,496.0,7496050.0,4911325.0

In [13]:
newdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 0 to 2
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Index                  3 non-null      int64
 1   NumberOfYears          3 non-null      int64
 2   pValueSredGod          3 non-null      float64
 3   SlopeSredGod           3 non-null      float64
 4   InterceptSredGod       3 non-null      float64
 5   ShapeParamSredGod      3 non-null      float64
 6   ScaleParamSredGod      3 non-null      float64
 7   LocationParamSredGod   3 non-null      float64
 8   TrendSredGod           3 non-null      object
 9   pValueMinSrMes         3 non-null      float64
 10  SlopeMinSrMes          3 non-null      float64
 11  InterceptMinSrMes      3 non-null      float64
 12  ShapeParamMinSrMes     3 non-null      float64
 13  ScaleParamMinSrMes     3 non-null      float64
 14  LocationParamMinSrMes  3 non-null      float64
 15  TrendMinSrMes          3 non-null      object
 16  River No.              3 non-null      int64
 17  River basin            3 non-null      object
 18  River                  3 non-null      object
 19  Hydrological station   3 non-null      object
 20  Drainage Area (km2)    3 non-null      float64
 21  X coordinate           3 non-null      float64
 22  Y coordinate           3 non-null      float64
dtypes: float64(15), int64(3), object(5)
memory usage: 576.0+ bytes

### Replacing NA values with zero

In [14]:
cols = ['Drainage Area (km2)', 'X coordinate', 'Y coordinate']
newdf[cols] = newdf[cols].fillna(0).applymap(np.int64)

### Hihhlight cells with yellow which satisfied conditions, where is trend increasing or decreasing

In [15]:
newdf.style.applymap(lambda x: 'background-color : yellow' if x == 'decreasing' or x == 'increasing' else '')

### Saving merged dataframe results with cordinates to Excel file without index

In [16]:
newdf.to_excel("WaterFlowEstimationResultsWithCooordinates.xls", index=False)

C:\Users\Ryzen\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  """Entry point for launching an IPython kernel.

### Spliting marged dataframe into two tables SredGod and MinSrMes with their result and river station names and saving these outputs into Excel files

In [17]:
serdgodColumns = ['pValueMinSrMes', 'SlopeMinSrMes', 'InterceptMinSrMes','ShapeParamMinSrMes','ScaleParamMinSrMes','LocationParamMinSrMes','TrendMinSrMes']
sredGod = newdf.drop(serdgodColumns, axis=1)
sredGod.head(5)

,Index,NumberOfYears,pValueSredGod,SlopeSredGod,InterceptSredGod,ShapeParamSredGod,ScaleParamSredGod,LocationParamSredGod,TrendSredGod,River No.,River basin,River,Hydrological station,Drainage Area (km2),X coordinate,Y coordinate
0,1,57,0.154170,-0.014527,3.883744,-0.142407,1.042901,3.190382,no trend,52,Velika Morava,Belica,Jagodina,193,7521375,4869725
1,2,93,0.100421,-0.008310,3.567360,0.060021,1.195407,2.924813,no trend,56,Velika Morava,Jasenica,Donja Šatornja,84,7468650,4894130
2,3,63,0.618335,-0.005456,4.523299,-0.016216,1.550857,3.768787,no trend,57,Velika Morava,Jasenica,Smederevska Palanka,496,7496050,4911325

In [20]:
sredGod.to_excel("SredGod.xls", index=False)

C:\Users\Ryzen\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  """Entry point for launching an IPython kernel.

In [18]:
MinSrMesColumns = ['pValueSredGod', 'SlopeSredGod', 'InterceptSredGod','ShapeParamSredGod','ScaleParamSredGod','LocationParamSredGod','TrendSredGod']
MinSrMes = newdf.drop(MinSrMesColumns, axis=1)
MinSrMes.head(5)

,Index,NumberOfYears,pValueMinSrMes,SlopeMinSrMes,InterceptMinSrMes,ShapeParamMinSrMes,ScaleParamMinSrMes,LocationParamMinSrMes,TrendMinSrMes,River No.,River basin,River,Hydrological station,Drainage Area (km2),X coordinate,Y coordinate
0,1,57,0.469779,-0.002063,0.729760,-0.016843,0.353231,0.591642,no trend,52,Velika Morava,Belica,Jagodina,193,7521375,4869725
1,2,93,0.000351,-0.005417,0.888202,0.141398,0.424929,0.389798,decreasing,56,Velika Morava,Jasenica,Donja Šatornja,84,7468650,4894130
2,3,63,0.290301,-0.003520,1.062880,0.048438,0.442552,0.785350,no trend,57,Velika Morava,Jasenica,Smederevska Palanka,496,7496050,4911325

In [19]:
MinSrMes.to_excel("MinSrMes.xls", index=False)

C:\Users\Ryzen\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  """Entry point for launching an IPython kernel.